{% extends 'base.html.twig' %}

{% block title %}Hello PinsController!{% endblock %}

{% block body %} 
    <h1>Tous les pins</h1>
    <a href={{path('app_create')}}>Créer un pin </a>
    {% for pin in pins %}
        <article>
            <h1><a href="">{{pin.title}}</a></h1>
            <p>{{pin.description}}</p>
        </article>
    {% else %}
        <p>Désolé, il n'y a pas de Pin. </p>
    {% endfor %}

{% endblock %}
