 <!DOCTYPE html>
<html lang=fr>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome on Show !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1> {{pin.title}}</h1>
        <p> {{pin.description}}</p>
        <p><a href={{}}>Retour</a></p>
    </body>
</html>